*{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333;
}

li {

}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

header ul li a{
  color: white;
  text-decoration: none;
}

header ul li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}



.active-cyan-2 input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}
header ul{
  margin: 0;
}
header{
  top: 0;
  width: 100%;
}
.LogIn{
  position: absolute;
  left: 73%;
}

input.form-control{
  position: absolute;
left: 80%;
top: 11%;
width: 19%;
}
.fa-search:before {
    content: "\f002";
    position: absolute;
    left: 97%;
    top: 28%;}

    footer {
      border-top: 1px solid gainsboro;
      text-align: center;
      /* height: 200px; */
      bottom: 0;
      position: absolute;
      width: 100%;

    }
    footer ul {

      padding: 0;
      overflow: hidden;
    }
    footer ul li {
      float: left;
      width: 25%;
      padding: 10px 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    footer a {
      text-decoration: none;
    }
    footer ul li {
      list-style-type: none;
    }
    footer div {
      margin-top: 50px;
    }
    main{
      margin-top: 4.8%;
      height: 83.5vh;
    }

    ul.ul-menu {
      margin-bottom: 0;
    }

li.li-menu{
  color: white;
  position: relative;
}
#julian{
  left: 10%;
}

#logoTmdb{
  height: 40px;
  position: absolute;
  left: 70%;
  top: 4%;
}

#botonLogIn{
  position: absolute;
  left: 69%;
    top: 11%;
}
.imagenDetalleDePeli{
  width: 26%;
  position: absolute;
  height: 76%;
  float: left;
  left: 1%;
  top: 13%;
  border: 4px solid #007bff;
  border-radius: 10%;
}

.tituloDetalleDePeli{
  float: left;
    left: 28%;
    top: 13%;
    position: absolute;
}
.overviewDePeli{
  float: left;
  position: absolute;
  left: 28%;
  top: 17%;
}
.idiomaDePeli{
  float: left;
  position: absolute;
  left: 28%;
  top: 32%;
}
.generoDePeli{
  position: absolute;
  float: left;
  left: 28%;
  top: 40%;
}
.estrenoDePeli{
  position: absolute;
  float: left;
  left: 28%;
  top: 36%;
}
.generosUl{
  background-color: white;
  left: 110%;
  top: 5%;
  position: absolute;
}
#myBtn{
  position: absolute;
  float: left;
  left: 28%;
  top: 44%;
  background-color: #007bff;
  color: white;
}

section.primero{
  overflow: hidden;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: -3% auto;
    height: 90%;
    padding: 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalcarruseldetalle{
  width: 85%;
  bottom: 21%;
}

#botoncito{
  position: absolute;
top: 52%;
right: 46%;
width: 26%;
}
#video{
  position: absolute;
  float: left;
  left: 55%;
  top: 40%;
  width: 40%;
}

.uk-cover{
  width: 50%;
  height: 50%;
}

#testtest {
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

#modaldetalledetalle{
  width: 85%;
    bottom: -11%;
    z-index: 1;
}

#spanspan{
  position: absolute;
  left: 46%;
  TOP: -4%;
  z-index: 2;
  BACKGROUND-COLOR: white;
  color: black;
  opacity: 2;
}

#video{

}

@media only screen and (max-width: 420px){
  header ul li {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      position: relative;
    }

    header ul li.home{
      left: -11%;
    }

    header ul li.boton{
      left: -16%;
    }

    header ul li.favoritos{
      left: -19%;
    }

    header ul li.login{
      left: -25%;
    }

    #bienvenida{
      display: none;
    }

    header ul li.busca{
      left: -17%;

    }

    /* input.form-control{
    width: 10%;
    } */

}
