*{
  box-sizing: border-box;
}

main{
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333333;
}
p.uk-margin-remove:hover{
  color: white;
  background-color: rgba(112, 112, 112, 0.6);

}

li {
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
header ul li a{
  color: white;
  text-decoration: none;
}

header ul li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
header ul li.favoritos{
  display: none;
}



.active-cyan-2 input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}

header ul{
  margin: 0;
}
header{

  top: 0;
  width: 100%;

}
.LogIn{
  position: absolute;
  left: 73%;
}

input.form-control{
  position: absolute;
left: 80%;
    top: 21%;
width: 19%;
}
.fa-search:before {
    content: "\f002";
    position: absolute;
    left: 97%;
    top: 28%;}

    footer {
      border-top: 1px solid gainsboro;
      text-align: center;
      /* height: 200px; */
      bottom: 0;
      position: absolute;
      width: 100%;

    }
    footer ul {

      padding: 0;
      overflow: hidden;
    }
    footer ul li {
      float: left;
      width: 25%;
      padding: 10px 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    footer a {
      text-decoration: none;
    }
    footer ul li {
      list-style-type: none;
    }
    footer div {
      margin-top: 50px;
    }
    main{
      margin-top: 100px;
      height: 81vh;
    }

    ul.ul-menu {
      margin-bottom: 0;
    }

    div.contenedorCarrousel{
      overflow: hidden;
    }


    article.verticalText {
  writing-mode: vertical-rl;
  text-orientation: upright;
  float: left;
  width: 10%;
  padding-right: 8px;
  text-align: center;

    height: 67%;
}
article.carrousel{
  float: left;
  width: 100%;
}

li.li-menu{
  color: white;
  position: relative;
}
#julian{
  left: 10%;
}

#logoTmdb{
  height: 40px;
  position: absolute;
  left: 70%;
  top: 4%;
}

#botonLogIn{
  position: absolute;
  left: 74%;
    top: 21%;
}

#carruselhome {
  float: left;
  width: 27.5%;
  margin-left: 5.83333333%;
}

#carruselhome2 {
  float: left;
  margin-left: 5.83333333%;
  width: 27.5%;
}

#carruselhome3 {
  float: left;
  margin-left: 5.83333333%;
  width: 27.5%;
}


section.primero{
  overflow: hidden;
  position: relative;
height: 105%;
top: -7%;
left: 0%;
}

h3.uk-margin-remove{
  background-color: rgba(112, 112, 112, 0.8);
  background-size: auto;

}

p.uk-margin-remove{
  color: white;
}

#Nombre{
  width: 80%;
left: 17%;
top: 8%;
}

#Email{
  width: 80%;
left: 17%;
top: 36%;
}


#carrousel{
  position: relative;
}

#carrouse2{
  position: relative;
}

#carrouse3{
  position: relative;
}

#maspopulares{
  position: absolute;
    left: -17%;
    bottom: 18%;
    background-color: #0069d9;
    border-style: solid;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    border-color: black;
    padding-right: 4px;
}

#proximosestrenos{
  position: absolute;
      left: -17%;
      bottom: 18%;
      background-color: #0069d9;
      border-style: solid;
      border-radius: 50px;
      font-size: 16px;
      color: white;
    border-color: black;
  padding-right: 4px;
}

 #mejorpuntuadas{
   position: absolute;
left: 34.3%;
bottom: 18%;
background-color: #0069d9;
border-style: solid;
border-radius: 50px;
font-size: 16px;
z-index: 1;
width: 2.8%;
    z-index: 1;
    color: white;
    border-color: black;
padding-right: 4px;
}

@media only screen and (max-width: 420px){
  header ul li {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      position: relative;
    }

    header ul li.home{
      left: -11%;

    }

    header ul li.boton{
      left: -16%;
    }

    header ul li.favoritos{
      left: -19%;
    }

    header ul li.login{
      left: -25%;
    }



    header ul li.busca{
      left: -36%;

    }

    #bienvenida{
      left: -31%;
    }

    #logoTmdb {
    height: 40px;
    position: absolute;
    left: 79%;
    top: 29%;
  }

    /* input.form-control{
    width: 10%;
    } */
#Nombre {
    width: 77%;
    left: 20%;
    top: 8%;
  }
  main {
    height: 71vh;
}

#carruselhome {
  float: left;
  width: 82.5%;
  margin-left: 17.5%;

}

#carruselhome2 {
  float: left;
  margin-left: 17.5%;
  width: 82.5%;
  margin-top: 1%;
}

#carruselhome3 {
  float: left;
  margin-left: 17.5%;
  width: 82.5%;
  margin-top: 1%;
}

footer{
  bottom: -991px;
}



#aaa1{
  border: #0069d9;
    border-style: solid;
    border-width: thin;
}

#aaa2{
  border: #0069d9;
    border-style: solid;
    border-width: thin;
}

#aaa3{
  border: #0069d9;
    border-style: solid;
    border-width: medium;
}

/* #fotologo{
  width: 22%
  max-width: 25%;
}

#fotologo2{
  width: 22%;
position: relative;
left: -81%;
max-width: 25%;
} */


.aaa{
  border-style: solid;
  border-width: 10px;
}


































}
