*{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
display: flex;
  background-color: #333;
}

li {
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

header ul li a{
  color: white;
  text-decoration: none;
}

header ul li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


.active-cyan-2 input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}

header{
  top: 0;
  width: 100%;
  height: 8%;
}
.LogIn{
  position: absolute;
  left: 73%;
}
#Nombre{
  width: 80%;
left: 17%;
top: 8%;
}

#Email{
  width: 80%;
left: 17%;
top: 36%;
}
img.ayuda{
  position: absolute;
    width: 64%;
    top: 18%;
    left: 33%;
}

input.form-control{
  position: absolute;
left: 80%;
top: 17%;
width: 19%;
}
.fa-search:before {
    content: "\f002";
    position: absolute;
    left: 97%;
    top: 28%;}

    footer {
      border-top: 1px solid gainsboro;
      text-align: center;
      /* height: 200px; */
      bottom: 0;
      position: absolute;
      width: 100%;

    }
    footer ul {

      padding: 0;
      overflow: hidden;
    }
    footer ul li {
      float: left;
      width: 25%;
      padding: 10px 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    footer a {
      text-decoration: none;
    }
    footer ul li {
      list-style-type: none;
    }
    footer div {
      margin-top: 50px;
    }
    main{
      margin-top: 4.8%;
      height: 83.5vh;
    }

    ul.ul-menu {
      margin-bottom: 0;
    }

li.li-menu{
  color: white;
  position: relative;
}
#julian{
  left: 10%;
}

#logoTmdb{
  height: 40px;
  position: absolute;
  left: 70%;
  top: 4%;
}

#botonLogIn{
  /* position: absolute;
  left: 69%;
    top: 11%; */
    display: none;
}

#carruselhome {
  float: left;
      width: 26%;
      margin-left: 1.833333%;
}
p.uk-margin-remove:hover{
  color: white;
  background-color: rgba(112, 112, 112, 0.6);

}
.imagenesBuscador{
  float: left;
  width: 12%;
}


@media only screen and (max-width: 420px){
  header ul li {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      position: relative;

    }

    img.ayuda{
      position: absolute;
          width: 90%;
          top: 61%;
          left: 5%;
    }

    #carruselhome {
      float: left;
      width: 58.5%;
      margin-left: 18.833333%;
    }

    header ul li.home{
      left: -11%;
      position: relative;
bottom: -7px;
    }

    header ul li.boton{
      left: -16%;
    }

    header ul li.favoritos{
      left: -19%;
      position: relative;
bottom: -7px;
    }

    header ul li.login{
      left: -25%;
    }

    #bienvenida{
      display: none;
      position: relative;
bottom: -7px;
    }

    header ul li.busca{
      left: -17%;

    }

    /* input.form-control{
    width: 10%;
    } */
    #logoTmdb {
    height: 40px;
    position: absolute;
    left: 79%;
    top: 29%;
  }
    #Nombre {
        width: 77%;
        left: 20%;
        top: 8%;
      }
      main {
      margin-top: 19.8%;
      height: 73.5vh;
  }

  p{
    display: none;
  }
  header ul li.home{
    display: none;
  }
  div.dropdown{
    left: 25%;
  }
  header ul li.favoritos{
    left: -10%;
  }
input.form-control{
  position: absolute;
    left: -170%;
    top: 21%;
    width: 419%;
}


}
