*{box-sizing: border-box;}

header nav {
  height: 100px;
  width: 100%;
  background-color: blue;
  overflow: hidden;
  position: fixed;
  margin-left: 0;
}
.logo img{
width: 8%;
height: 100%;
position: absolute;
float: left;
top: 0;
}
nav ul li{
  list-style: none;
}

.Inicio{
  left: 30%;
  position: absolute;
}
.generos{
  left: 40%;
  position: absolute;
}









@media only screen and (max-width: 420px){

}
